@tailwind base;
@tailwind components;
@tailwind utilities;

.sm\:bg-img-sm {
  background-image: url('./assets/images/aboutus-bg-mobile.jpeg');
  object-fit: contain;
}

.lg\:bg-img-lg {
  background-image: url('./assets//images/aboutus-bg.jpeg');
  object-fit: contain;
}

.carousel-container {
  
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.carousel {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 auto;
}

/* Optional: Style for the active slide */
.slide.active {
  opacity: 1;
}

/* Optional: Button styles for navigation */
.prev,
.next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
